<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Umbraco Prereleases" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
    <add key="Umbraco Nightly" value="https://www.myget.org/F/umbraconightly/api/v3/index.json" />
    <add key="Umbraco Commerce Local" value="C:\Users\Matt\Storage\Work\Umbraco\Umbraco.Commerce\Umbraco.Commerce\artifacts" />
  </packageSources>
</configuration>
